In [7]:
import pandas as pd
import numpy as np
import datetime as dt
import os
from util import get_data, plot_data, get_orders_data_file

In [338]:
start_val = 1000000

In [19]:
orders_file = "orders/orders-leverage-1.csv"
#orders = open(os.path.join(os.environ.get("ORDERS_DATA_DIR", 'orders/'), orders_file))
#print orders

In [239]:
orders_file = "orders/orders-leverage-1.csv"
orders = pd.read_csv(orders_file, na_values=['nan'])
orders

          Date Symbol Order  Shares
0   2011-01-10   AAPL   BUY    1500
1   2011-01-13   AAPL  SELL    1500
2   2011-01-13    IBM   BUY    4000
3   2011-01-26   GOOG   BUY    1000
4   2011-02-02    XOM  SELL    4000
5   2011-02-10    XOM   BUY    4000
6   2011-03-03   GOOG  SELL    1000
7   2011-03-03    IBM  SELL    2200
8   2011-06-03    IBM  SELL    3300
9   2011-05-03    IBM   BUY    1500
10  2011-06-10   AAPL   BUY   10000

In [83]:
start_date = orders.ix[0,0]
end_date = orders.iloc[-1,0]

print start_date, end_date

2011-01-10 2011-06-10

In [316]:
symbols = orders.ix[:,1].unique()
syms = list(symbols)

In [322]:
symbs = []
for j in range(0,len(syms)):
    temp = syms[j] + "_PRICE"
    symbs.append(temp)
    
print symbs

['AAPL_PRICE', 'IBM_PRICE', 'GOOG_PRICE', 'XOM_PRICE']

In [ ]:
#dates = pd.date_range(start_date, end_date)

#daily_port = pd.DataFrame(columns=stocks)
#daily_port["Dates"] = dates
#daily_port.head()

In [309]:
dates = pd.date_range(start_date, end_date)

port = pd.DataFrame(0, index=dates, columns=symbols)

In [311]:
orders["Date"] = pd.to_datetime(orders["Date"])

In [312]:
port.head()

            AAPL  IBM  GOOG  XOM
2011-01-10     0    0     0    0
2011-01-11     0    0     0    0
2011-01-12     0    0     0    0
2011-01-13     0    0     0    0
2011-01-14     0    0     0    0

In [313]:
orders.tail(1)

         Date Symbol Order  Shares
10 2011-06-10   AAPL   BUY   10000

In [314]:
port = pd.DataFrame(0, index=dates, columns=stocks)

for i in range(0, len(orders)):
    ord = orders.ix[i,:]
    d = ord[0]
    s = ord[1]
    o = ord[2]
    sh = ord[3]
    cur_sh = 0
    if o == "BUY":
        cur_sh = port.ix[d,s] + sh   # Add ordered shares to prior amount of shares 
        port.ix[d:,s] = cur_sh
    elif o == "SELL":
        cur_sh = port.ix[d,s] - sh   # Subtract ordered shares from prior amount of shares 
        port.ix[d:,s] = cur_sh
    else:
        print o
        pass

In [277]:
port

             AAPL   IBM  GOOG   XOM
2011-01-10   1500     0     0     0
2011-01-11   1500     0     0     0
2011-01-12   1500     0     0     0
2011-01-13      0  4000     0     0
2011-01-14      0  4000     0     0
2011-01-15      0  4000     0     0
2011-01-16      0  4000     0     0
2011-01-17      0  4000     0     0
2011-01-18      0  4000     0     0
2011-01-19      0  4000     0     0
2011-01-20      0  4000     0     0
2011-01-21      0  4000     0     0
2011-01-22      0  4000     0     0
2011-01-23      0  4000     0     0
2011-01-24      0  4000     0     0
2011-01-25      0  4000     0     0
2011-01-26      0  4000  1000     0
2011-01-27      0  4000  1000     0
2011-01-28      0  4000  1000     0
2011-01-29      0  4000  1000     0
2011-01-30      0  4000  1000     0
2011-01-31      0  4000  1000     0
2011-02-01      0  4000  1000     0
2011-02-02      0  4000  1000 -4000
2011-02-03      0  4000  1000 -4000
2011-02-04      0  4000  1000 -4000
2011-02-05      0  4000  1000 -4000
2011-02-06      0  4000  1000 -4000
2011-02-07      0  4000  1000 -4000
2011-02-08      0  4000  1000 -4000
...           ...   ...   ...   ...
2011-05-12      0  3300     0     0
2011-05-13      0  3300     0     0
2011-05-14      0  3300     0     0
2011-05-15      0  3300     0     0
2011-05-16      0  3300     0     0
2011-05-17      0  3300     0     0
2011-05-18      0  3300     0     0
2011-05-19      0  3300     0     0
2011-05-20      0  3300     0     0
2011-05-21      0  3300     0     0
2011-05-22      0  3300     0     0
2011-05-23      0  3300     0     0
2011-05-24      0  3300     0     0
2011-05-25      0  3300     0     0
2011-05-26      0  3300     0     0
2011-05-27      0  3300     0     0
2011-05-28      0  3300     0     0
2011-05-29      0  3300     0     0
2011-05-30      0  3300     0     0
2011-05-31      0  3300     0     0
2011-06-01      0  3300     0     0
2011-06-02      0  3300     0     0
2011-06-03      0  3300     0     0
2011-06-04      0  3300     0     0
2011-06-05      0  3300     0     0
2011-06-06      0  3300     0     0
2011-06-07      0  3300     0     0
2011-06-08      0  3300     0     0
2011-06-09      0  3300     0     0
2011-06-10  10000  3300     0     0

[152 rows x 4 columns]

In [256]:
cur_sh = port.ix[d,s] - port.ix[d - dt.timedelta(days=1),s]

In [217]:
dates = pd.date_range(start_date, end_date)

port = pd.DataFrame(0, index=dates, columns=stocks)
port = port.reset_index()

In [218]:
port.head()

       index  AAPL  IBM  GOOG  XOM
0 2011-01-10     0    0     0    0
1 2011-01-11     0    0     0    0
2 2011-01-12     0    0     0    0
3 2011-01-13     0    0     0    0
4 2011-01-14     0    0     0    0

In [214]:
orders.head(2)

         Date Symbol Order  Shares
0  2011-01-10   AAPL   BUY    1500
1  2011-01-13   AAPL  SELL    1500

In [299]:
syms = list(symbols)

In [328]:
prices = get_data(syms, dates)  # automatically adds SPY

In [329]:
del prices["SPY"]

In [330]:
prices

              AAPL     IBM    GOOG    XOM
2011-01-10  340.99  143.41  614.21  72.02
2011-01-11  340.18  143.06  616.01  72.56
2011-01-12  342.95  144.82  616.87  73.41
2011-01-13  344.20  144.55  616.69  73.54
2011-01-14  346.99  145.70  624.18  74.62
2011-01-18  339.19  146.33  639.63  75.45
2011-01-19  337.39  151.22  631.75  75.00
2011-01-20  331.26  151.33  626.77  74.53
2011-01-21  325.32  151.04  611.83  75.71
2011-01-24  336.01  155.05  611.08  75.34
2011-01-25  339.94  156.81  619.91  75.43
2011-01-26  342.38  156.42  616.50  76.37
2011-01-27  341.74  156.45  616.79  76.58
2011-01-28  334.66  154.64  600.99  75.72
2011-01-31  337.87  157.35  600.36  77.34
2011-02-01  343.55  158.87  611.04  80.44
2011-02-02  342.85  158.62  612.00  79.96
2011-02-03  341.97  158.84  610.15  79.99
2011-02-04  345.02  159.30  610.98  79.84
2011-02-07  350.38  160.09  614.29  80.46
2011-02-08  353.68  161.93  618.38  79.97
2011-02-09  356.63  160.56  616.50  79.55
2011-02-10  353.02  160.02  616.44  80.18
2011-02-11  355.32  159.78  624.50  79.81
2011-02-14  357.64  159.17  628.15  81.83
2011-02-15  358.36  158.80  624.15  79.96
2011-02-16  361.58  159.34  624.22  80.65
2011-02-17  356.77  160.16  625.26  80.83
2011-02-18  349.06  160.75  630.08  81.43
2011-02-22  337.16  157.93  610.21  82.34
...            ...     ...     ...    ...
2011-04-29  348.63  166.34  544.10  84.79
2011-05-02  344.80  167.87  538.56  83.81
2011-05-03  346.71  168.58  533.89  82.51
2011-05-04  348.08  166.38  535.79  81.73
2011-05-05  345.27  164.28  534.27  79.62
2011-05-06  345.18  165.43  535.30  79.69
2011-05-09  346.11  165.64  537.68  80.16
2011-05-10  347.96  166.89  542.66  80.31
2011-05-11  345.75  166.03  535.45  78.62
2011-05-12  345.09  168.71  535.05  78.55
2011-05-13  339.04  166.44  529.55  78.38
2011-05-16  331.88  165.40  518.42  77.77
2011-05-17  334.70  167.01  530.46  77.93
2011-05-18  338.42  166.95  529.81  79.22
2011-05-19  339.07  167.10  531.25  79.79
2011-05-20  333.79  166.68  524.03  79.05
2011-05-23  332.97  164.82  518.39  78.18
2011-05-24  330.77  164.55  518.26  78.78
2011-05-25  335.34  164.32  519.67  79.43
2011-05-26  333.57  163.76  518.13  79.85
2011-05-27  335.97  164.07  520.90  80.08
2011-05-31  346.34  165.47  529.02  80.90
2011-06-01  344.03  163.15  525.60  79.50
2011-06-02  344.62  162.69  528.06  78.82
2011-06-03  341.97  161.67  523.08  78.68
2011-06-06  336.59  161.38  521.06  77.81
2011-06-07  330.62  160.34  519.03  77.53
2011-06-08  330.82  160.98  519.17  78.27
2011-06-09  330.07  161.47  516.73  78.68
2011-06-10  324.51  159.84  509.51  77.32

[106 rows x 4 columns]

In [335]:
print port.shape
print prices.shape
print portf.shape

(152, 4)
(106, 4)
(106, 8)

In [371]:
portf = pd.merge(port, prices, left_index=True, right_index=True)

In [372]:
ns = len(syms)
for k in range(0,ns):
    portf[str(k)] = portf.ix[:,k] * (portf.ix[:,k+ns])

In [373]:
portf["Equity"] = portf.ix[:,(2*ns):].sum(axis=1)

In [381]:
cash = [start_val]
cash[0]

1000000

In [376]:
cash = [start_val]
for l in range(1, portf.shape[0]):
    cashtemp = cash[l] - portf["Equity"][l]
    
cash

[1000000]

In [379]:
portf

,AAPL_x,IBM_x,GOOG_x,XOM_x,AAPL_y,IBM_y,GOOG_y,XOM_y,0,1,2,3,Equity
2011-01-10,1500,0,0,0,340.99,143.41,614.21,72.02,511485,0,0,0,511485
2011-01-11,1500,0,0,0,340.18,143.06,616.01,72.56,510270,0,0,0,510270
2011-01-12,1500,0,0,0,342.95,144.82,616.87,73.41,514425,0,0,0,514425
2011-01-13,0,4000,0,0,344.20,144.55,616.69,73.54,0,578200,0,0,578200
2011-01-14,0,4000,0,0,346.99,145.70,624.18,74.62,0,582800,0,0,582800
2011-01-18,0,4000,0,0,339.19,146.33,639.63,75.45,0,585320,0,0,585320
2011-01-19,0,4000,0,0,337.39,151.22,631.75,75.00,0,604880,0,0,604880
2011-01-20,0,4000,0,0,331.26,151.33,626.77,74.53,0,605320,0,0,605320
2011-01-21,0,4000,0,0,325.32,151.04,611.83,75.71,0,604160,0,0,604160
2011-01-24,0,4000,0,0,336.01,155.05,611.08,75.34,0,620200,0,0,620200
2011-01-25,0,4000,0,0,339.94,156.81,619.91,75.43,0,627240,0,0,627240
2011-01-26,0,4000,1000,0,342.38,156.42,616.50,76.37,0,625680,616500,0,1242180
2011-01-27,0,4000,1000,0,341.74,156.45,616.79,76.58,0,625800,616790,0,1242590
2011-01-28,0,4000,1000,0,334.66,154.64,600.99,75.72,0,618560,600990,0,1219550
2011-01-31,0,4000,1000,0,337.87,157.35,600.36,77.34,0,629400,600360,0,1229760
2011-02-01,0,4000,1000,0,343.55,158.87,611.04,80.44,0,635480,611040,0,1246520
2011-02-02,0,4000,1000,-4000,342.85,158.62,612.00,79.96,0,634480,612000,-319840,926640
2011-02-03,0,4000,1000,-4000,341.97,158.84,610.15,79.99,0,635360,610150,-319960,925550
2011-02-04,0,4000,1000,-4000,345.02,159.30,610.98,79.84,0,637200,610980,-319360,928820
2011-02-07,0,4000,1000,-4000,350.38,160.09,614.29,80.46,0,640360,614290,-321840,932810
2011-02-08,0,4000,1000,-4000,353.68,161.93,618.38,79.97,0,647720,618380,-319880,946220
2011-02-09,0,4000,1000,-4000,356.63,160.56,616.50,79.55,0,642240,616500,-318200,940540
2011-02-10,0,4000,1000,0,353.02,160.02,616.44,80.18,0,640080,616440,0,1256520
2011-02-11,0,4000,1000,0,355.32,159.78,624.50,79.81,0,639120,624500,0,1263620
2011-02-14,0,4000,1000,0,357.64,159.17,628.15,81.83,0,636680,628150,0,1264830
2011-02-15,0,4000,1000,0,358.36,158.80,624.15,79.96,0,635200,624150,0,1259350
2011-02-16,0,4000,1000,0,361.58,159.34,624.22,80.65,0,637360,624220,0,1261580
2011-02-17,0,4000,1000,0,356.77,160.16,625.26,80.83,0,640640,625260,0,1265900
2011-02-18,0,4000,1000,0,349.06,160.75,630.08,81.43,0,643000,630080,0,1273080
2011-02-22,0,4000,1000,0,337.16,157.93,610.21,82.34,0,631720,610210,0,1241930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-04-29,0,1800,0,0,348.63,166.34,544.10,84.79,0,299412,0,0,299412
2011-05-02,0,1800,0,0,344.80,167.87,538.56,83.81,0,302166,0,0,302166
2011-05-03,0,3300,0,0,346.71,168.58,533.89,82.51,0,556314,0,0,556314
2011-05-04,0,3300,0,0,348.08,166.38,535.79,81.73,0,549054,0,0,549054
2011-05-05,0,3300,0,0,345.27,164.28,534.27,79.62,0,542124,0,0,542124
2011-05-06,0,3300,0,0,345.18,165.43,535.30,79.69,0,545919,0,0,545919
2011-05-09,0,3300,0,0,346.11,165.64,537.68,80.16,0,546612,0,0,546612
2011-05-10,0,3300,0,0,347.96,166.89,542.66,80.31,0,550737,0,0,550737
2011-05-11,0,3300,0,0,345.75,166.03,535.45,78.62,0,547899,0,0,547899
2011-05-12,0,3300,0,0,345.09,168.71,535.05,78.55,0,556743,0,0,556743
2011-05-13,0,3300,0,0,339.04,166.44,529.55,78.38,0,549252,0,0,549252
2011-05-16,0,3300,0,0,331.88,165.40,518.42,77.77,0,545820,0,0,545820
2011-05-17,0,3300,0,0,334.70,167.01,530.46,77.93,0,551133,0,0,551133
2011-05-18,0,3300,0,0,338.42,166.95,529.81,79.22,0,550935,0,0,550935
2011-05-19,0,3300,0,0,339.07,167.10,531.25,79.79,0,551430,0,0,551430
2011-05-20,0,3300,0,0,333.79,166.68,524.03,79.05,0,550044,0,0,550044
2011-05-23,0,3300,0,0,332.97,164.82,518.39,78.18,0,543906,0,0,543906
2011-05-24,0,3300,0,0,330.77,164.55,518.26,78.78,0,543015,0,0,543015
2011-05-25,0,3300,0,0,335.34,164.32,519.67,79.43,0,542256,0,0,542256
2011-05-26,0,3300,0,0,333.57,163.76,518.13,79.85,0,540408,0,0,540408
2011-05-27,0,3300,0,0,335.97,164.07,520.90,80.08,0,541431,0,0,541431
2011-05-31,0,3300,0,0,346.34,165.47,529.02,80.90,0,546051,0,0,546051
2011-06-01,0,3300,0,0,344.03,163.15,525.60,79.50,0,538395,0,0,538395
2011-06-02,0,3300,0,0,344.62,162.69,528.06,78.82,0,536877,0,0,536877
2011-06-03,0,3300,0,0,341.97,161.67,523.08,78.68,0,533511,0,0,533511
2011-06-06,0,3300,0,0,336.59,161.38,521.06,77.81,0,532554,0,0,532554
2011-06-07,0,3300,0,0,330.62,160.34,519.03,77.53,0,529122,0,0,529122
2011-06-08,0,3300,0,0,330.82,160.98,519.17,78.27,0,531234,0,0,531234
2011-06-09,0,3300,0,0,330.07,161.47,516.73,78.68,0,532851,0,0,532851
2011-06-10,10000,3300,0,0,324.51,159.84,509.51,77.32,3245100,527472,0,0,3772572